body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
    font-size: 12px;
    align-items: center;
}

.logo {
    font-weight: bolder;
}

.links {
    display: flex;
    font-size: 15px;
}

h1 {
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.subheader{
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
}
.main-title{
    display: flex;
    height: 150px;
    width: 320px;
    flex-direction: column;
}
.image{
    display: flex;
    height: 150px;
    width: 320px;
}
